
.gantt-container
    font-size 12px

    button
        font-size inherit

        &.btn-default
            background-color var(--button-background)
            border var(--button-border)
            color var(--button-text-color)

        &:focus
            box-shadow: none

.gantt
    background-color: #fff;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: row
    font-size: 10px
    height 100%
    overflow: hidden
    position relative

    .gantt-row
        border-bottom: 1px solid var(--border-color)
        height: var(--row-height)



@import './GanttDivisor.styl'