
.gantt-divisor
    cursor col-resize
    order 1
    margin 0 -8px
    padding 0 8px
    user-select: none
    z-index: 9;

    &:hover

        .divisor-bar
            background-color: #e3165b

    .divisor-bar
        background-color: #e0e0e0
        display: flex
        flex-direction: column
        height 100%
        justify-content: center

    .divisor-dots
        background-color: white

    .divisor-dot
        background-color: #666
        border-radius: 2px
        height: 4px;
        margin: 2px 0
        width: 4px

.gantt-divisor-backdrop
    position: absolute
    top 0
    left 0
    right 0
    bottom 0

