
.gantt-chart
    background-color: white
    flex 1
    overflow hidden
    order 2

    .header
        background-color: white
        border 0 none
        // border-bottom: 1px solid var(--border-color)
        box-sizing: border-box
        height: calc(var(--row-height) * 2);
        overflow hidden

        .header-scroll
            background-color: white
            border 0 none
            // border-bottom: 1px solid var(--border-color)
            box-sizing: border-box
            height: calc(var(--row-height) * 2);
            overflow: hidden
            width 100%

        .tr
            display: flex
            flex-direction: row
            justify-content: flex-start
            padding-right 17px

        .th
            height: var(--gantt-header-height);
            border-bottom: 1px solid var(--border-color)
            border-right: 1px solid var(--border-color-dark)
            color #666
            display flex
            flex-direction: column
            font-size 10px
            font-weight: bold
            justify-content: center
            text-align: center

            &:last-child
                border-right 0 none

        .th-dark
            background-color var(--day-sunday-bg)
            border-color var(--border-color-dark)

        .th-today
            background-color var(--border-color-light)
            border-color var(--border-color-dark)

        .th-week
            height: calc(var(--gantt-header-height) + 1px)
            overflow hidden
            padding-left 4px
            text-align: left
            white-space: nowrap

    .body
        height calc(100% - (var(--row-height) * 2))
        overflow auto

        svg
            // background-color var(--border-color)

            rect
            line
                shape-rendering: crispEdges


            .grid-row-bg
                fill transparent

                &.hover
                    fill var(--gantt-item-color-bg-hover)

                &.active
                    fill var(--selected-row-bg)

            .gantt-chart-item

                rect
                    shape-rendering: auto

                .grid-row-item
                    stroke var(--gantt-item-color-border)
                    stroke-width 0
                    rx 3
                    ry 3
                    transition stroke-width .3s ease

                .grid-row-item-progress
                    rx 3
                    ry 3

                .grid-row-item-text
                    fill white
                    font-size: 10px

                    &.dark
                        fill #444

                &:hover
                    .grid-row-item
                        stroke-width: 2

            .grid-row-line
                stroke var(--border-color-dark)
                stroke-width 1

            .grid-today
                fill var(--border-color-light)
                stroke var(--border-color-dark)
                stroke-width: 1px

            .grid-day
                fill rgba(255, 255, 255, 0)

                // &.with-border
                //     stroke var(--border-color-dark)
                //     stroke-width: 1px

            .grid-sunday
                fill var(--day-sunday-bg)
                // stroke var(--day-sunday-border)
                // stroke-width: 1px

            .gantt-arrow
                stroke #333
                stroke-width: 2
                fill none