
.gantt-chart
    background-color: white
    flex 1
    order 2

    .header
        background-color: white
        border-bottom: 1px solid var(--border-color)
        height: calc(var(--row-height) * 2);

    .body
        height calc(100% - (var(--row-height) * 2))
        overflow auto
