
.gantt-table
    background-color: white
    flex-basis: 50%
    overflow: hidden
    order 0

    .header
        background-color: white
        border 0 none
        border-bottom: 1px solid var(--border-color)
        box-sizing: border-box
        height: calc(var(--row-height) * 2);
        overflow: hidden

        .header-scroll
            height: calc(100% + 17px)
            margin-right -17px
            overflow: scroll
            width calc(100% + 17px)

        .tr
            display: flex
            flex-direction: row
            justify-content: start
            padding-right 17px

        .th
            padding 4px
            display flex
            flex-direction: column
            font-weight: bold
            height: calc(var(--row-height) * 2);
            justify-content: center

    .body
        height calc(100% - (var(--row-height) * 2))
        margin-right -17px
        overflow-y scroll

        .tr
            display: flex
            flex-direction: row
            justify-content: start
            padding-right 17px

        .td
            padding: 4px
            display: flex
            flex-direction: column
            justify-content: center
