
.gantt-table
    background-color: white
    flex-basis: 50%
    overflow: hidden
    order 0

    .header
        background-color: white
        border 0 none
        border-bottom: 1px solid var(--border-color)
        box-sizing: border-box
        height: calc(var(--row-height) * 2);
        overflow: hidden

        .header-scroll
            height: 100%
            // margin-right -17px
            overflow: hidden
            width 100%

        .tr
            display: flex
            flex-direction: row
            justify-content: flex-start
            padding-right 17px

        .th
            padding 4px
            display flex
            flex-direction: column
            font-weight: bold
            height: calc(var(--row-height) * 2);
            justify-content: center

    .body
        height calc(100% - (var(--row-height) * 2))
        margin-right -17px
        overflow-y scroll

        .tr
            display: flex
            flex-direction: row
            justify-content: flex-start
            padding-right 17px

            &.hover
                background-color var(--gantt-item-color-bg-hover)

            &.active
                background-color var(--gantt-item-color-bg-active)

        .td
            padding: 4px
            display: flex
            flex-direction: row
            justify-content: flex-start

            span
                display: flex
                flex-direction: column
                justify-content: center

                &.fake-icon
                    width 24px


                &.icon
                    cursor pointer
                    font-family: 'Times New Roman', Times, serif
                    font-size: 22px
                    text-align: center
                    user-select: none
                    width 24px
                    transition transform .3s ease

                    &.expanded
                        transform rotate(90deg)

                &.content
                    flex 1
                    padding-left: 4px

                    &.editable
                        cursor pointer
                        flex none
                        padding-right: 4px
                        // text-decoration: underline
                        // text-decoration-style: dotted
                        user-select: none

            input[type="text"]
                flex 1
