
.gantt-container {
    background-color white
}

.gantt-toolbar
    display: flex
    font-size 14px
    justify-content: space-between
    padding 5px 0

    .toolbar-right
        align-self: flex-end

    button
        font-size inherit

        &.btn-default
            background-color var(--button-background)
            border var(--button-border)
            color var(--button-text-color)

        &:focus
            box-shadow: none
