
.gantt-container {
    background-color white
}

.gantt-toolbar
    display: flex
    font-size 14px
    justify-content: space-between
    padding 5px 0

    .toolbar-left
        flex 1

    .toolbar-right
        align-self: flex-end
