
.gantt-container
    background-color white

.gantt-toolbar
    // border 1px solid var(--border-color)
    display: flex
    justify-content: space-between
    padding 5px 0

    .toolbar-right
        align-self: flex-end

    button
        background-color var(--button-background)
        border var(--button-border)
        color var(--button-text-color)
        font-size: 14px

        &:focus
            box-shadow: none
