
:root {
    --row-height: 32px
    --border-color: #dcd8d8
    --border-color-light: #fff6a7
    --border-color-dark: #dedada

    --gantt-item-color-bg-hover: white
    --gantt-item-color-bg-active: #e8e7e7
    --gantt-item-color-border: #666

    --gantt-header-height: 21px

    --button-background: white
    --button-border: 1px solid #b2acac
    --button-text-color: #666
}

@import './Components/GanttToolbar/GanttToolbar.styl'
@import './Components/Gantt/Gantt.styl'
@import './Components/GanttTable/GanttTable.styl'
@import './Components/GanttChart/GanttChart.styl'
@import './Components/GanttOptions/GanttOptions.styl'
